{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Portfolio | Sanjeev Musyakhwo</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <!-- Header  -->
    <header class="header">
      <div class="logo"><span>Sanj</span>eev.</div>
      <ul class="navlist" >
        <li><a href="#home" style="--i:1">Home</a></li>
        <li><a href="#about" style="--i:2">About</a></li>
        <li><a href="#services" style="--i:3">Services</a></li>
        <li><a href="#skills" style="--i:4">Skills</a></li>
        <li><a href="#portfolio" style="--i:5">Portfolio</a></li>
        <li><a href="#contact" style="--i:6">Contact</a></li>
      </ul>
      <div id="menu-icon" class="bx bx-menu"></div>
    </header>
    <!-- End of Header  -->
     {% block content %}
       
     {% endblock content %}
     <!-- Footer Section  -->
      <footer>
        <p class="scroll-scale">Copyright &copy; 2025 by Sanjeev Musyakhwo || All Rights Reserved</p>
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </footer>
  <script src="{% static 'js/mixitip.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>